# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DesignPatternSamples.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\vinic\OneDrive\Área de Trabalho\repo-master\DesignPatternSamples-main\src\.idea\.idea.DesignPatternSamples\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
